:root {
  font-family: 'Poppins', sans-serif;
  /* font-size: 1rem; */

  /* color-scheme: light dark; */

  background-color: #e2d9c8;

  font-synthesis: none;
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: #f1f0ee;
}

/* NAVBAR START */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;  
  z-index: 99999;
}

.scroll{
   background-color: rgba(48, 38, 28, 1);
}

.navbar .navbar-logo{
  color: #f1f0ee;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #dac297;
}

.navbar .navbar-nav a{
  color: #f1f0ee;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
  color: #dac297;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #f1f0ee;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
  transform: scaleX(0.5);
}

.navbar .navbar-extra a{
  color: #f1f0ee;
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
  color: #dac297;
}

#hamburger-menu{
  display: none;
}

/* Navbar Search Form */
.navbar .search-form{
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #f1f0ee;
  width: 40rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active{
  transform: scaleY(1);
}

.navbar .search-form input{
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: #000000;
  padding: 1rem;
  border: none;
}

.navbar .search-form label{
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #30261c;
}

/* Cart */
.shopping-cart{
  top: 100%;
  right: -100%;
  position: absolute;
  background-color: #f1f0ee;
  color: #000000;
  width: 40rem;
  height: 100vh;
  transition: 0.5s;
}

.navbar #shopping-cart{
  position: relative;
}

.navbar #shopping-cart .totalQuantity{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -20%;
  font-size: 0.6rem;
  background-color: red;
  border-radius: 20rem;
  width: 1rem;
  height: 1rem;
}

 .none{
  display: none;
}

.shopping-cart.active{
  right:0;
}

.shopping-cart .cart-item{
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}

.shopping-cart .cart-product{
  overflow-y: scroll;
  height: 50%;
  overflow-x: hidden;
  border-top: solid rgba(171, 171, 171, 0.6) 1px;
  border-bottom: solid rgba(171, 171, 171, 0.6) 1px;
  margin: 0 5%;
}

.shopping-cart .cart-product::-webkit-scrollbar{
  display: none;
}


.shopping-cart h1{
  margin: 1rem 7%;
  font-size: 2rem;
  font-weight: 400;
}

.shopping-cart .cart-item h2{
  font-size: 1.5rem;
  font-weight: 400;
}

.shopping-cart .item-name{
  width: 12rem;
}


.shopping-cart .cart-item img{
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
}

.shopping-cart .cart-item .item-category{ 
  display: flex;
  margin: 0.4rem 0;
}

.shopping-cart .cart-item .item-category p{
  font-size: 0.9rem; 
  box-shadow: 0 0 1px;
  margin-right: 0.6rem;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
}

.shopping-cart .cart-item .item-quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.shopping-cart .cart-item .item-price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  width: 8rem;
}

.shopping-cart .cart-item button{
  outline: none;
  background-color: transparent;
  border: none;
}

.shopping-cart .cart-item .item-quantity p{
  font-size: 1.2rem;
}

.shopping-cart .checkout-form{
  position: absolute;
  height: 100%;
  top: 68%;
  right: 0;
  left: 0;
}

.shopping-cart .checkout-form .sub-total, .shopping-cart .checkout-form .discount, .shopping-cart .checkout-form .tax, .shopping-cart .checkout-form .total,.shopping-cart .checkout-form .checkout{
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
}

.shopping-cart .checkout-form .checkout button{
  margin: 1rem 0;
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 0.5rem;
  background-color: rgb(0, 179, 255);
  border: none;
  color: #f1f0ee;
  cursor: pointer;
}

.empty{
  text-align: center;
}

/* Hero */
.hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(./assets/background/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%; 
  height: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.hero .content{
  color: #f1f0ee;
  padding: 1.4rem 13%;
  max-width: 60rem;
  position: absolute;
  z-index: 9999;
}

.hero .content h3{
  color: #f1f0ee;
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 3,0,5);
}

.hero .content h1{
  margin-top: 0.3rem;
  color: #f1f0ee;
  font-size: 2.2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 3,0.5);
  line-height: 3rem;  
  /* mix-blend-mode: difference; */

}

.hero .content .cta{
  display: inline-block;
  margin-top: 1rem;
  color: #30261c;
  background-color: #f1f0ee;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
}


/* Services */
.our-services{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 7%;
}

.our-services img{
  width: 4rem;
  margin: 0 3rem;
}

.our-services p {
  color: #30261c;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

/* Menu */
.special-menu {
  padding: 3rem 7%;
  background-color: #f1f0ee;
  color: #30261c;
}

.special-menu h1, .customers h1 {
  color: #30261c;
  text-align: center;
}

.special-menu .row{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.special-menu .row .card-menu {
  margin: 0 1.4rem;
  position: relative;
}

.special-menu .row .card-menu img{
  width: 15rem;
  border-radius: 10rem;
}

/* .special-menu .row .card-menu .favorite{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
} */

.special-menu .row .card-menu h4{
  font-size: 1.2rem;
  font-weight: 300;
}

.special-menu .row .card-menu p {
  font-size: .9rem;
 font-weight: 300;
}

.special-menu .row .card-menu button {
  background: none;
  outline: none;
  border-style: none;
  cursor: pointer;
}

.special-menu .row .card-menu .extra-card{
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special-menu .row .card-menu .extra-card .button-card button{
 margin: 0 0.4rem;
}

.special-menu .special-dessert{
  margin-top: 4rem;
}

/* Expolre-Product */
.explore-product {
  background-image: url('./assets/explore-product.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}

.explore-product .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.explore-product h1 { 
  text-shadow: 1px 1px 3px rgba(0, 0, 3,0.8);
  font-size: 2rem;
}

.explore-product a { 

  color: #f1f0ee;
  background-color: #30261c;
  padding: 1rem 3rem;
  border-radius: 0.6rem;
}

/* Customers */
.customers {
text-align: center;
margin: 2rem 7%;
color: #30261c;
}

.customers .customers-card {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.customers .customers-card .card{
  border-radius: 0.8rem;
  padding: 2rem 2rem;
  margin: 1rem 0.6rem;
  box-shadow: 1px 1px 3px;
}

.customers .customers-card .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.customers  .customers-card .left{
  display: flex;
}

.customers .customers-card .row img{
  width: 3rem;
  height: 3rem;
}

.customers .customers-card .card p{
  text-align: left;
  font-size: 0.8rem;
}

.customers .customers-card .card .left .name-title{
  display: block;
  margin: auto 1rem;
}


.customers .customers-card .card .left .name-title h1{
  text-align: left;
  font-size: 0.8rem;
}

.customers .customers-card .card .left .name-title h3{
  text-align: left;
  font-size: 0.8rem;
  font-weight: 300;
}

/* Footer */
.footer {
  background-color: #30261c;
  color: #e2d9c8;
  display: flex;
  justify-content: space-between;
  padding: 2rem 7%;
}

.footer h1{
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer h3{
  margin-bottom: 1rem;
  font-weight: 300;
}

.footer a { 
  display: flex;
  flex-direction: column;
  color: #f1f0ee;
  font-size: 0.8rem;
  margin: 1rem 0;
  color: #7d7d7d;
}

.footer .social-media .social-menu a {
  display: inline-block; 
  margin: 0 0.4rem;
}



/* Media Queries */


/* Laptop */
@media (max-width: 1366px){
  html{
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px){
  html{
    font-size: 62.5%;
  }

  #hamburger-menu{
    display: inline-block;
  }

  .navbar .navbar-nav{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f1f0ee;
    width: 25rem;
    height: 100vh;
    transition: 0.7s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a{
    color: #000000;
    display: block;
    margin: 1.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after{
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after{
    transform: scaleX(0.2);
  }

  .our-services {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .special-menu .row{
    margin-top: 0;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    justify-content: space-between;
    width: 100%;
  }

  .special-menu .row::-webkit-scrollbar{
    /* display: none; */
  }

  .special-menu .row .card-menu{
    margin-top: 2rem;
  }

  .customers .customers-card {
    flex-wrap: wrap;
    margin: 0 8%;
  }

  .navbar .search-form {
    width: 90%;
  }

  .our-services img{
    width: 3rem;
    margin: 0 3rem;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer .social-media{
    width: 100vw;
    text-align: center;
    margin-top: 2rem;
  }

}

/* Mobile Phone */
@media (max-width: 450px){
  html{
    font-size: 55%;
  }
}



